body {
text-align: center;

  font-family: "Nunito", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
color: black;
font-size: xx-large;
}

img {
border-radius: 5px;
border: solid black ;
font-size: xxx-large


}
